img[src="panda.jpg"] {
  width: 60px;
  border-radius: 100%;
}
img[src="deer.jpg"] {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
img[src="penguin.jpg"] {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}img[src="fox.jpg"] {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  background-color: #1892d3;
  grid-row: 1 / 3;
  color: white;
}
.sidebar h1 {
  padding-left: 32px;
}

.sidebar > ul {
  list-style-type: none;
  font-size: larger;
  padding-top: 32px;
}

.sidebar > ul > li {
  padding-bottom: 24px;
  font-size: 28px;
}

.header {
  background-color: #ffffff;
  grid-column: 2 / 3;
}

.main-content {
  background-color: #e1e8f0;
  grid-row: 2 / 2;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header > div {
  padding: 16px;
  align-items: center;
}

.top-left, .bottom-left {
  margin-left: 32px;
}

.top-left {
  display: flex;
}
.top-left > div {
  margin-right: 16px;
}
input[type="text"] {
  border: none;
  background-color: #e1e8f0;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
}

.bottom-left {
  display: flex;
}
.bottom-left > div {
  margin-right: 16px;
}
.bottom-left .name {
  font-size: 28px;
}
.bottom-left img[src="panda.jpg"] {
  width: 80px;
}
.bottom-left .name {
  font-weight: 600;
}

.top-right {
  display: flex;
  justify-content: end;
  margin-right: 32px;
  font-size: 24px;
  font-weight: 600;
}
.top-right > div {
  margin-right: 32px;
}

.bottom-right {
  display: flex;
  justify-content: end;
  margin-right: 48px;
}
.bottom-right > button {
  padding: 16px 36px;
  border: none;
  border-radius: 30px;
  background-color: #1891d8;
  margin-left: 32px;
  color: #ffffff;
  font-size: 20px;
}


.main-content {
  background-color: #e1e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
}



.left {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 24px 16px 64px 16px;
}

.left .box {
  background-color: #ffffff;
  height: 300px;
}

.left-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.right {
  display: grid;
  margin: 24px 16px 64px 16px;
  gap: 32px;
}

.right .upper .box, .right .lower .box {
  background-color: #ffffff;
  height: 430px;
}

.upper, .lower {
  display: grid;
  grid-template-rows: auto 1fr;
}

.box {
  border-radius: 15px;
  padding: 0;
  margin: 0;
}

.box h2 {
  padding: 0px 16px;
  margin: 48px 0px 0px 0px;
}

.box p {
  padding: 0px 16px;
  margin: 8px 0px 0px 0px;
}

.left .box {
  border-left: 14px solid #649335;
}

.left .box ul {
  display: flex;
  padding: 16px;
  list-style-type: none;
  justify-content: end;
  align-items: end;
}

.left ul {
  margin-right: 16px;
}
.left li {
  margin-left: 36px;
}


.left .box {
  display: flex;
  flex-direction: column;
}

.left .text-content {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}





.right .upper .box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0px 16px;
}

.right .upper .box h4 {
  padding: 0;
  margin-left: 16px;
  margin-bottom: 0;
  margin-top: 0;
}




.right .upper .box .text-box {
  min-width: 200px;
  padding: 16px;
}

.right .one , .right .two {
  border-bottom: 1px solid #666666;
}


.right .text-box p {
  margin-top: 0;
  min-width: 200px;
  color: #666666;
  font-size: 14px;
}


.user {
  display: flex;
  align-items: center;
  width: 250px;
  margin: 12px 0px;
}

.user img {
  padding: 0;
  margin: 0;
}

.lower .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  margin: 0px 22px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.information p {
  padding: 0;
  margin: 4px 0px;
  color: #666666;
}